* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
  background-color: rgb(255, 224, 229);
}
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  width: 300px;
  padding: 20px;
  background-color: hotpink;
  border-radius: 5px;
}

img {
  background-color: hotpink;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-content {
  background-color: hotpink;
  color: white;
  text-align: center;
}

.card-content h2 {
  background-color: hotpink;
}

.card:hover {
  cursor: pointer;
  border: solid 8px rgb(151, 25, 88);
  box-shadow: 10px red;
}
