.container {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 10px;
}

header h1 {
  color: hotpink;
}

.score-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: hotpink;
}
